@charset "UTF-8";

.section-title {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-mono-01);
}
.section-title .point {
  color: var(--color-primary);
}
.section-title .point02 {
  color: var(--color-secondary);
}

#mainVisualSection .swiper-slide img {
  width: 100%;
}

#matchScheduleSection {
  background: url(../assets/images/page/main/section/match-schedule/bg.png)
    no-repeat bottom;
  background-size: cover;
  padding: 7.5rem 0;
  overflow-x: hidden;
}
#matchScheduleSection .section-title {
  text-align: center;
}

#matchScheduleSection .schedule-area {
  margin-top: 2.5rem;
  display: flex;
  gap: 2.5rem;
}
#matchScheduleSection .schedule-area > li {
  flex: 1;
  position: relative;
  border-radius: 0.625rem;
  padding: 1.875rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  height: auto;
}
#matchScheduleSection .schedule-area > li::after {
  position: absolute;
  top: 0.625rem;
  right: 1.875rem;
  font-weight: 900;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}
#matchScheduleSection .schedule-area > li.home {
  background-color: var(--color-primary);
}
#matchScheduleSection .schedule-area > li.home::after {
  content: 'H';
}
#matchScheduleSection .schedule-area > li.home .our {
  order: 1;
}
#matchScheduleSection .schedule-area > li.home .opposing {
  order: 3;
}
#matchScheduleSection .schedule-area > li,
#matchScheduleSection .schedule-area > li.away {
  background-color: var(--color-mono-01);
}
#matchScheduleSection .schedule-area > li::after,
#matchScheduleSection .schedule-area > li.away::after {
  content: 'A';
}
#matchScheduleSection .schedule-area > li .our,
#matchScheduleSection .schedule-area > li.away .our {
  order: 3;
}
#matchScheduleSection .schedule-area > li .center-area,
#matchScheduleSection .schedule-area > li.away .center-area {
  order: 2;
}
#matchScheduleSection .schedule-area > li .opposing,
#matchScheduleSection .schedule-area > li.away .opposing {
  order: 1;
}
#matchScheduleSection .schedule-area .date-time-area {
  font-weight: 800;
  font-size: 1.625rem;
}
#matchScheduleSection .schedule-area .match-area {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.125rem;
  margin-top: 2.5rem;
}
#matchScheduleSection .schedule-area .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  max-width: 6.875rem;
}
#matchScheduleSection .schedule-area .team img {
  object-fit: contain;
  width: 6.875rem;
  height: 6.875rem;
}
#matchScheduleSection .schedule-area .team .name {
  font-weight: 700;
  font-size: 1.125rem;
}
#matchScheduleSection .schedule-area .center-area {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
  text-align: center;
}
#matchScheduleSection .schedule-area .center-area .main {
  font-weight: 800;
  font-size: 3.75rem;
  text-transform: uppercase;
}
#matchScheduleSection .schedule-area .center-area .sub {
  font-weight: 400;
  font-size: 1rem;
}
#matchScheduleSection .schedule-area .btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 1.25rem;
}
#matchScheduleSection .schedule-area .btn-area a,
#matchScheduleSection .schedule-area .btn-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: #ffffff;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  min-width: 7.5rem;
  min-height: 2.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.313rem;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
#matchScheduleSection .schedule-area .btn-area a:hover,
#matchScheduleSection .schedule-area .btn-area button:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2)) brightness(1.2);
}
#matchScheduleSection .schedule-area .btn-area a:active,
#matchScheduleSection .schedule-area .btn-area button:active {
  transform: scale(0.9);
}

#matchScheduleSection .ranking-area {
  background-color: rgba(178, 210, 242, 0.5);
  border-radius: 0.625rem;
  margin-top: 2.5rem;
  padding: 2.5rem 0;
  display: flex;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
#matchScheduleSection .ranking-area > div {
  padding: 0 3.125rem;
  flex: auto;
}
#matchScheduleSection .ranking-area > div + div {
  border-left: 1px solid rgba(17, 72, 173, 0.3);
}

#matchScheduleSection .ranking-area > div > .title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.625rem;
  color: var(--color-primary);
  text-align: center;
}

#matchScheduleSection .ranking-area .team-area table {
  margin-top: 1.875rem;
}
#matchScheduleSection .ranking-area .team-area th,
#matchScheduleSection .ranking-area .team-area td {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  min-width: 2rem;
}
#matchScheduleSection .ranking-area .team-area th {
  color: var(--color-mono-01);
  height: 2.5rem;
}
#matchScheduleSection .ranking-area .team-area td {
  color: rgba(43, 49, 55, 0.5);
  height: 3.125rem;
}
#matchScheduleSection .ranking-area .team-area .point td {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-weight: 700;
}
#matchScheduleSection .ranking-area .team-area .point td:first-child {
  border-top-left-radius: 0.313rem;
  border-bottom-left-radius: 0.313rem;
}
#matchScheduleSection .ranking-area .team-area .point td:last-child {
  border-top-right-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
}
#matchScheduleSection .ranking-area .team-area td .team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.313rem;
  min-width: 4rem;
}
#matchScheduleSection .ranking-area .team-area td .team img {
  width: 1.5rem;
}

#matchScheduleSection .ranking-area .player-area > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-top: 1.875rem;
}
#matchScheduleSection .ranking-area .player-area > ul .title {
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--color-mono-01);
  text-transform: uppercase;
}
#matchScheduleSection .ranking-area .player-area > ul > li {
  position: relative;
}
#matchScheduleSection .ranking-area .player-area .box {
  background-color: var(--color-primary);
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.25rem;
  font-weight: 900;
  color: #ffffff;
  margin-top: 0.75rem;
}
#matchScheduleSection .ranking-area .player-area .box .score {
  font-size: 3.125rem;
  color: var(--color-secondary);
}
#matchScheduleSection .ranking-area .player-area .box .name {
  font-size: 1.875rem;
}
#matchScheduleSection .ranking-area .player-area .box img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
}

.bg-field {
  background: var(--color-primary) url(../assets/images/page/main/bg_field.png)
    no-repeat top;
  background-size: 100%;
}

#iufcBlueMarket {
  padding: 7.5rem 0;
}
#iufcBlueMarket .top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#iufcBlueMarket .top-area .btn-area {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.625rem;
}
#iufcBlueMarket .top-area .btn-area button {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  opacity: 0.5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  transform-origin: center;
}
#iufcBlueMarket .top-area .btn-area button.prev {
  transform: rotate(180deg);
}
#iufcBlueMarket .goods-list {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
#iufcBlueMarket .goods-list > li {
  position: relative;
}
#iufcBlueMarket .goods-list > li img {
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
#iufcBlueMarket .goods-list > li .txt-area {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  padding: 1.25rem 0;
  font-weight: 400;
  font-size: 1rem;
}
#iufcBlueMarket .goods-list > li .txt-area .price {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--color-primary);
}

#bottomBannerSection {
  background: url(../assets/images/page/main/section/bottom-banner/bg.jpg)
    no-repeat center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
#bottomBannerSection > article {
  max-width: 764px;
  font-weight: 400;
  font-size: 1rem;
}
#bottomBannerSection > article:nth-child(odd) {
  padding-left: 4rem;
}
#bottomBannerSection > article:nth-child(even) {
  padding-right: 4rem;
  padding-left: 16.25rem;
}
#bottomBannerSection .section-title {
  font-size: 1.625rem;
  margin-bottom: 2.5rem;
}
#bottomBannerSection .btn-area {
  margin-top: 2.5rem;
  display: flex;
  justify-content: start;
  gap: 1.25rem;
}
#bottomBannerSection .btn-area a,
#bottomBannerSection .btn-area button {
  border: 1px solid #ffffff;
  border-radius: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-weight: 700;
  font-size: 1rem;
  min-height: 2.75rem;
  padding: 0.625rem 1.875rem;
}

@media screen and (max-width: 1600px) {
  #matchScheduleSection .schedule-area {
    gap: 0;
  }

  #matchScheduleSection .ranking-area {
    padding: 0 2.5rem;
    flex-direction: column;
  }
  #matchScheduleSection .ranking-area > div {
    padding: 3.125rem 0;
  }
  #matchScheduleSection .ranking-area > div + div {
    border-left: none;
    border-top: 1px solid rgba(17, 72, 173, 0.3);
  }
}

@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 1.5rem;
  }

  #matchScheduleSection {
    padding: 2.5rem 0;
  }

  #matchScheduleSection .schedule-area {
    margin-top: 1.25rem;
  }
  #matchScheduleSection .schedule-area > li {
    padding: 1.25rem;
  }
  #matchScheduleSection .schedule-area > li::after {
    right: 1.5rem;
    font-size: 3.125rem;
  }
  #matchScheduleSection .schedule-area .date-time-area {
    font-size: 1.25rem;
  }
  #matchScheduleSection .schedule-area .match-area {
    gap: 0;
    margin-top: 1.875rem;
  }
  #matchScheduleSection .schedule-area .team {
    max-width: none;
    min-width: 5rem;
  }
  #matchScheduleSection .schedule-area .team img {
    width: 5rem;
    height: 5rem;
  }
  #matchScheduleSection .schedule-area .center-area .main {
    font-size: 1.875rem;
  }
  #matchScheduleSection .schedule-area .center-area .sub {
    font-size: 0.875rem;
  }
  #matchScheduleSection .schedule-area .btn-area a,
  #matchScheduleSection .schedule-area .btn-area button {
    gap: 0.313rem;
  }

  #matchScheduleSection .ranking-area {
    padding: 0 1.25rem;
    flex-direction: column;
  }
  #matchScheduleSection .ranking-area > div {
    padding: 1.875rem 0;
  }
  #matchScheduleSection .ranking-area > div + div {
    border-left: none;
    border-top: 1px solid rgba(17, 72, 173, 0.3);
  }

  #matchScheduleSection .ranking-area > div > .title {
    font-size: 1.25rem;
  }

  #matchScheduleSection .ranking-area .team-area table {
    margin-top: 0.625rem;
  }
  #matchScheduleSection .ranking-area .team-area th,
  #matchScheduleSection .ranking-area .team-area td {
    font-size: 0.875rem;
  }

  #matchScheduleSection .ranking-area .player-area > ul {
    margin-top: 0.625rem;
  }
  #matchScheduleSection .ranking-area .player-area > ul .title {
    font-size: 1.125rem;
  }
  #matchScheduleSection .ranking-area .player-area .box .score {
    font-size: 1.875rem;
  }
  #matchScheduleSection .ranking-area .player-area .box .name {
    font-size: 1.25rem;
  }

  #bottomBannerSection {
    background: none;
    flex-direction: column;
    padding: 0;
  }
  #bottomBannerSection > article {
    width: 100%;
    max-width: none;
    font-size: 0.875rem;
    padding: 2.5rem 1.25rem;
  }
  #bottomBannerSection > .iu-academy {
    background: url(../assets/images/page/main/section/bottom-banner/bg_iua.jpg)
      no-repeat right;
    background-size: cover;
  }
  #bottomBannerSection > .incheon-youth-sports-agency {
    background: url(../assets/images/page/main/section/bottom-banner/bg_iysa.jpg)
      no-repeat left;
    background-size: cover;
  }
  #bottomBannerSection > article:nth-child(odd) {
    padding-left: 1.25rem;
  }
  #bottomBannerSection > article:nth-child(even) {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  #bottomBannerSection .section-title {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  #bottomBannerSection .btn-area {
    margin-top: 1.25rem;
    gap: 0.625rem;
  }
  #bottomBannerSection .btn-area a,
  #bottomBannerSection .btn-area button {
    font-size: 0.875rem;
    min-height: 2rem;
    padding: 0.5rem 1.25rem;
  }
}

@media screen and (max-width: 640px) {
  #matchScheduleSection .ranking-area .player-area > ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
