@charset "UTF-8";

.section-title {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--color-mono-01);
}
.section-title .point {
  color: var(--color-primary);
}
.section-title .point02 {
  color: var(--color-secondary);
}

#mainVisualSection .swiper-slide img {
  width: 100%;
}

#matchScheduleSection {
  background: url(../assets/images/page/main/section/match-schedule/bg.png)
    no-repeat bottom;
  background-size: cover;
  padding: 7.5rem 0 8.125rem;
  overflow-x: hidden;
}
#matchScheduleSection::after {
  content: '';
  display: block;
  width: 100%;
  max-width: 1400px;
  aspect-ratio: 1/0.186;
}
#matchScheduleSection .section-title {
  text-align: center;
}

#matchScheduleSection .schedule-area {
  margin-top: 2.5rem;
  display: flex;
  gap: 2.5rem;
}
#matchScheduleSection .schedule-area > li {
  flex: 1;
  position: relative;
  border-radius: 0.625rem;
  padding: 1.875rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  height: auto;
}
#matchScheduleSection .schedule-area > li::after {
  position: absolute;
  top: 0.625rem;
  right: 1.875rem;
  font-weight: 900;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}
#matchScheduleSection .schedule-area > li.home {
  background-color: var(--color-primary);
}
#matchScheduleSection .schedule-area > li.home::after {
  content: 'H';
}
#matchScheduleSection .schedule-area > li.home .our {
  order: 1;
}
#matchScheduleSection .schedule-area > li.home .opposing {
  order: 3;
}
#matchScheduleSection .schedule-area > li,
#matchScheduleSection .schedule-area > li.away {
  background-color: var(--color-mono-01);
}
#matchScheduleSection .schedule-area > li::after,
#matchScheduleSection .schedule-area > li.away::after {
  content: 'A';
}
#matchScheduleSection .schedule-area > li .our,
#matchScheduleSection .schedule-area > li.away .our {
  order: 3;
}
#matchScheduleSection .schedule-area > li .center-area,
#matchScheduleSection .schedule-area > li.away .center-area {
  order: 2;
}
#matchScheduleSection .schedule-area > li .opposing,
#matchScheduleSection .schedule-area > li.away .opposing {
  order: 1;
}
#matchScheduleSection .schedule-area .date-time-area {
  font-weight: 800;
  font-size: 1.625rem;
}
#matchScheduleSection .schedule-area .match-area {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1.125rem;
  margin-top: 2.5rem;
}
#matchScheduleSection .schedule-area .team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  max-width: 6.875rem;
}
#matchScheduleSection .schedule-area .team img {
  object-fit: contain;
  width: 6.875rem;
  height: 6.875rem;
}
#matchScheduleSection .schedule-area .team .name {
  font-weight: 700;
  font-size: 1.125rem;
}
#matchScheduleSection .schedule-area .center-area {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
  text-align: center;
}
#matchScheduleSection .schedule-area .center-area .main {
  font-weight: 800;
  font-size: 3.75rem;
  text-transform: uppercase;
}
#matchScheduleSection .schedule-area .center-area .sub {
  font-weight: 400;
  font-size: 1rem;
}
#matchScheduleSection .schedule-area .btn-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 1.25rem;
}
#matchScheduleSection .schedule-area .btn-area a,
#matchScheduleSection .schedule-area .btn-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: #ffffff;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1rem;
  min-width: 7.5rem;
  min-height: 2.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.313rem;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
#matchScheduleSection .schedule-area .btn-area a:hover,
#matchScheduleSection .schedule-area .btn-area button:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2)) brightness(1.2);
}
#matchScheduleSection .schedule-area .btn-area a:active,
#matchScheduleSection .schedule-area .btn-area button:active {
  transform: scale(0.9);
}

#matchScheduleSection .ranking-area {
  background-color: rgba(178, 210, 242, 0.5);
  border-radius: 0.625rem;
  margin-top: 2.5rem;
  padding: 2.5rem 0;
  display: flex;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
#matchScheduleSection .ranking-area > div {
  padding: 0 3.125rem;
  flex: auto;
}
#matchScheduleSection .ranking-area > div + div {
  border-left: 1px solid rgba(17, 72, 173, 0.3);
}

#matchScheduleSection .ranking-area > div > .title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.625rem;
  color: var(--color-primary);
  text-align: center;
}

#matchScheduleSection .ranking-area .team-area table {
  margin-top: 1.875rem;
}
#matchScheduleSection .ranking-area .team-area th,
#matchScheduleSection .ranking-area .team-area td {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  min-width: 2rem;
}
#matchScheduleSection .ranking-area .team-area th {
  color: var(--color-mono-01);
  height: 2.5rem;
}
#matchScheduleSection .ranking-area .team-area td {
  color: rgba(43, 49, 55, 0.5);
  height: 3.125rem;
}
#matchScheduleSection .ranking-area .team-area .point td {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-weight: 700;
}
#matchScheduleSection .ranking-area .team-area .point td:first-child {
  border-top-left-radius: 0.313rem;
  border-bottom-left-radius: 0.313rem;
}
#matchScheduleSection .ranking-area .team-area .point td:last-child {
  border-top-right-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
}
#matchScheduleSection .ranking-area .team-area td .team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.313rem;
  min-width: 4rem;
}
#matchScheduleSection .ranking-area .team-area td .team img {
  width: 1.5rem;
}

#matchScheduleSection .ranking-area .player-area > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  margin-top: 1.875rem;
}
#matchScheduleSection .ranking-area .player-area > ul .title {
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--color-mono-01);
  text-transform: uppercase;
}
#matchScheduleSection .ranking-area .player-area > ul > li {
  position: relative;
}
#matchScheduleSection .ranking-area .player-area .box {
  background-color: var(--color-primary);
  border-radius: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.25rem;
  font-weight: 900;
  color: #ffffff;
  margin-top: 0.75rem;
}
#matchScheduleSection .ranking-area .player-area .box .score {
  font-size: 3.125rem;
  color: var(--color-secondary);
}
#matchScheduleSection .ranking-area .player-area .box .name {
  font-size: 1.875rem;
}
#matchScheduleSection .ranking-area .player-area .box img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50%;
}

#eventSection > div {
  position: relative;
}
#eventSection .shadow-wrap {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  filter: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.2));
}
#eventSection .box {
  background-color: #2b3137;
  padding: 2.5rem;
  clip-path: polygon(
    50px 0,
    /* 좌상단 컷 시작 */ 100% 0,
    100% calc(100% - 50px),
    /* 우하단 컷 시작 */ calc(100% - 50px) 100%,
    0 100%,
    0 50px /* 좌상단 컷 끝 */
  );
}
#eventSection .box .top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#eventSection .box .navigation-area {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.625rem;
}
#eventSection .box .navigation-area button {
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  transform-origin: center;
}
#eventSection .box .navigation-area button.prev {
  transform: rotate(180deg);
}
#eventSection .box .event-list {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.875rem;
}

.bg-field {
  background: var(--color-primary) url(../assets/images/page/main/bg_field.png)
    no-repeat top;
  background-size: 100%;
  padding: 7.5rem 0;
}
.bg-field::before {
  content: '';
  display: block;
  width: 1005;
  max-width: 1400px;
  aspect-ratio: 1/0.124;
}
.bg-field .section-title {
  color: #ffffff;
}

#iufcFeedsSection {
  padding: 3.75rem 0;
  width: 100%;
  overflow-x: hidden;
}
#iufcFeedsSection .top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#iufcFeedsSection .top-area .left {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}
#iufcFeedsSection .top-area .filter-area {
  display: flex;
  justify-content: center;
}
#iufcFeedsSection .top-area .filter-area .btn-mode {
  display: flex;
  justify-content: start;
}
#iufcFeedsSection .top-area .filter-area .btn-mode button {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
  padding: 0 1.25rem;
  border-radius: 2.5rem;
}
#iufcFeedsSection .top-area .filter-area .btn-mode button.active {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-weight: 700;
}
#iufcFeedsSection .top-area .filter-area .select-mode {
  display: none;
  background: var(--color-secondary)
    url(../assets/images/common/icon/svg/icon_arrow_bottom_01_1148ad.svg)
    no-repeat calc(100% - 1.25rem) center;
  color: var(--color-primary);
  width: 100%;
  max-width: 18.125rem;
  height: 2.5rem;
  border: none;
  border-radius: 2.5rem;
  padding: 0 1.25rem;
  font-weight: 700;
  font-size: 1rem;
}
#iufcFeedsSection .top-area .right {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.625rem;
}
#iufcFeedsSection .top-area .right button {
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 0.5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  transform-origin: center;
}
#iufcFeedsSection .top-area .right button.prev {
  transform: rotate(180deg);
}
#iufcFeedsSection .feeds-list-area {
  margin-top: 1.25rem;
  position: relative;
  height: 28rem;
}
#iufcFeedsSection .feeds-list-area .feeds-swiper {
  position: absolute;
  top: 0;
  left: calc(50% - 700px);
  height: 100%;
}
#iufcFeedsSection .feeds-swiper .swiper-slide {
  max-width: 18.125rem;
}
#iufcFeedsSection .feeds-swiper .swiper-slide > a {
  display: block;
  background-color: #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 0.313rem;
  width: 100%;
}
#iufcFeedsSection .feeds-swiper .swiper-slide .img-wrap {
  border-radius: 0.313rem;
  overflow: hidden;
}
#iufcFeedsSection .feeds-swiper .swiper-slide .img-wrap img {
  width: 100%;
  height: 21.875rem;
  object-fit: cover;
}
#iufcFeedsSection .feeds-swiper .swiper-slide .txt-area {
  padding: 0.625rem;
  color: #111111;
}
#iufcFeedsSection .feeds-swiper .swiper-slide .txt-area .title {
  font-weight: 700;
  font-size: 1.125rem;
}
#iufcFeedsSection .feeds-swiper .swiper-slide .txt-area .date {
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: 1.25rem;
}

#iufcMediaSection {
  padding: 3.75rem 0;
  color: #ffffff;
}
#iufcMediaSection .section-title {
  text-align: center;
}
#iufcMediaSection .media-area {
  margin-top: 3.75rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: start;
  gap: 2.5rem;
}
#iufcMediaSection .media-area > li:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
#iufcMediaSection .media-area > li:nth-child(2) {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}
#iufcMediaSection .media-area > li:nth-child(3) {
  grid-column: 7 / 9;
  grid-row: 1 / 3;
}
#iufcMediaSection .media-area > li:nth-child(4) {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}
#iufcMediaSection .media-area > li:nth-child(5) {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}
#iufcMediaSection .media-area > li:nth-child(6) {
  grid-column: 5 / 7;
  grid-row: 2 / 4;
}
#iufcMediaSection .media-area > li:nth-child(7) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}
#iufcMediaSection .media-area > li:nth-child(8) {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}
#iufcMediaSection .media-area > li:nth-child(9) {
  grid-column: 5 / 7;
  grid-row: 4 / 5;
}
#iufcMediaSection .media-area > li:nth-child(10) {
  grid-column: 7 / 9;
  grid-row: 3 / 5;
}
#iufcMediaSection .media-area .img-wrap {
  overflow: hidden;
  border-radius: 0.625rem;
}
#iufcMediaSection .media-area .img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#iufcMediaSection .media-area .txt-area {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 0.625rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#iufcMediaSection .media-area > li.youtube,
#iufcMediaSection .media-area > li.shorts {
  position: relative;
}
#iufcMediaSection .media-area > li.youtube > a::after,
#iufcMediaSection .media-area > li.shorts > a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
#iufcMediaSection .media-area > li.youtube > a::after {
  background-image: url(../assets/images/common/logo/svg/icon_youtube_02.svg);
}
#iufcMediaSection .media-area > li.shorts > a::after {
  background-image: url(../assets/images/common/logo/svg/icon_youtube_shorts.svg);
}

#iufcBlueMarketSection {
  padding: 7.5rem 0;
}
#iufcBlueMarketSection .top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#iufcBlueMarketSection .top-area .btn-area {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.625rem;
}
#iufcBlueMarketSection .top-area .btn-area button {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  opacity: 0.5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  transform-origin: center;
}
#iufcBlueMarketSection .top-area .btn-area button.prev {
  transform: rotate(180deg);
}
#iufcBlueMarketSection .goods-list {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}
#iufcBlueMarketSection .goods-list > li {
  position: relative;
}
#iufcBlueMarketSection .goods-list > li img {
  position: relative;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
#iufcBlueMarketSection .goods-list > li .txt-area {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  padding: 1.25rem 0;
  font-weight: 400;
  font-size: 1rem;
}
#iufcBlueMarketSection .goods-list > li .txt-area .price {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--color-primary);
}

#bottomBannerSection {
  background: url(../assets/images/page/main/section/bottom-banner/bg.jpg)
    no-repeat center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
#bottomBannerSection > article {
  max-width: 764px;
  font-weight: 400;
  font-size: 1rem;
}
#bottomBannerSection > article:nth-child(odd) {
  padding-left: 4rem;
}
#bottomBannerSection > article:nth-child(even) {
  padding-right: 4rem;
  padding-left: 16.25rem;
}
#bottomBannerSection .section-title {
  font-size: 1.625rem;
  margin-bottom: 2.5rem;
}
#bottomBannerSection .btn-area {
  margin-top: 2.5rem;
  display: flex;
  justify-content: start;
  gap: 1.25rem;
}
#bottomBannerSection .btn-area a,
#bottomBannerSection .btn-area button {
  border: 1px solid #ffffff;
  border-radius: 0.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  font-weight: 700;
  font-size: 1rem;
  min-height: 2.75rem;
  padding: 0.625rem 1.875rem;
}

@media screen and (max-width: 1600px) {
  #matchScheduleSection .schedule-area {
    gap: 0;
  }

  #matchScheduleSection .ranking-area {
    padding: 0 2.5rem;
    flex-direction: column;
  }
  #matchScheduleSection .ranking-area > div {
    padding: 3.125rem 0;
  }
  #matchScheduleSection .ranking-area > div + div {
    border-left: none;
    border-top: 1px solid rgba(17, 72, 173, 0.3);
  }
}

@media screen and (max-width: 1400px) {
  #iufcMediaSection .media-area {
    margin-top: 2.5rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  #iufcMediaSection .media-area > li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  #iufcMediaSection .media-area > li:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
  #iufcMediaSection .media-area > li:nth-child(3) {
    grid-column: 4 / 5;
    grid-row: 2 / 4;
  }
  #iufcMediaSection .media-area > li:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  #iufcMediaSection .media-area > li:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #iufcMediaSection .media-area > li:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }
  #iufcMediaSection .media-area > li:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  #iufcMediaSection .media-area > li:nth-child(8) {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }
  #iufcMediaSection .media-area > li:nth-child(9) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
  #iufcMediaSection .media-area > li:nth-child(10) {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
  }
}

@media screen and (max-width: 1280px) {
  #iufcFeedsSection .top-area {
    justify-content: center;
    width: 100%;
  }
  #iufcFeedsSection .top-area .left {
    flex-direction: column;
    width: 100%;
  }
  #iufcFeedsSection .top-area .filter-area {
    width: 100%;
  }
  #iufcFeedsSection .top-area .section-title {
    text-align: center;
  }
  #iufcFeedsSection .top-area .filter-area .btn-mode {
    display: none;
  }
  #iufcFeedsSection .top-area .filter-area .select-mode {
    display: block;
  }
  #iufcFeedsSection .top-area .right {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 1.5rem;
  }

  #matchScheduleSection {
    padding: 2.5rem 0;
  }

  #matchScheduleSection .schedule-area {
    margin-top: 1.25rem;
  }
  #matchScheduleSection .schedule-area > li {
    padding: 1.25rem;
  }
  #matchScheduleSection .schedule-area > li::after {
    right: 1.5rem;
    font-size: 3.125rem;
  }
  #matchScheduleSection .schedule-area .date-time-area {
    font-size: 1.25rem;
  }
  #matchScheduleSection .schedule-area .match-area {
    gap: 0;
    margin-top: 1.875rem;
  }
  #matchScheduleSection .schedule-area .team {
    max-width: none;
    min-width: 5rem;
  }
  #matchScheduleSection .schedule-area .team img {
    width: 5rem;
    height: 5rem;
  }
  #matchScheduleSection .schedule-area .center-area .main {
    font-size: 1.875rem;
  }
  #matchScheduleSection .schedule-area .center-area .sub {
    font-size: 0.875rem;
  }
  #matchScheduleSection .schedule-area .btn-area a,
  #matchScheduleSection .schedule-area .btn-area button {
    gap: 0.313rem;
  }

  #matchScheduleSection .ranking-area {
    padding: 0 1.25rem;
    flex-direction: column;
  }
  #matchScheduleSection .ranking-area > div {
    padding: 1.875rem 0;
  }
  #matchScheduleSection .ranking-area > div + div {
    border-left: none;
    border-top: 1px solid rgba(17, 72, 173, 0.3);
  }

  #matchScheduleSection .ranking-area > div > .title {
    font-size: 1.25rem;
  }

  #matchScheduleSection .ranking-area .team-area table {
    margin-top: 0.625rem;
  }
  #matchScheduleSection .ranking-area .team-area th,
  #matchScheduleSection .ranking-area .team-area td {
    font-size: 0.875rem;
  }

  #matchScheduleSection .ranking-area .player-area > ul {
    margin-top: 0.625rem;
  }
  #matchScheduleSection .ranking-area .player-area > ul .title {
    font-size: 1.125rem;
  }
  #matchScheduleSection .ranking-area .player-area .box .score {
    font-size: 1.875rem;
  }
  #matchScheduleSection .ranking-area .player-area .box .name {
    font-size: 1.25rem;
  }

  .bg-field {
    padding: 2.5rem 0;
  }

  #iufcFeedsSection {
    padding: 2.5rem 0;
  }
  #iufcFeedsSection .feeds-list-area {
    position: static;
  }
  #iufcFeedsSection .feeds-list-area .feeds-swiper {
    position: relative;
    left: 0;
  }

  #iufcMediaSection {
    padding: 2.5rem 0;
  }

  #iufcBlueMarketSection {
    padding: 2.5rem 0;
  }
  #iufcBlueMarketSection .top-area .btn-area {
    gap: 0.313rem;
  }
  #iufcBlueMarketSection .top-area .btn-area button {
    width: 2rem;
    height: 2rem;
  }
  #iufcBlueMarketSection .goods-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
  }
  #iufcBlueMarketSection .goods-list > li .txt-area {
    padding: 0.625rem 0;
    font-size: 0.875rem;
  }
  #iufcBlueMarketSection .goods-list > li .txt-area .price {
    font-size: 0.875rem;
  }

  #bottomBannerSection {
    background: none;
    flex-direction: column;
    padding: 0;
  }
  #bottomBannerSection > article {
    width: 100%;
    max-width: none;
    font-size: 0.875rem;
    padding: 2.5rem 1.25rem;
  }
  #bottomBannerSection > .iu-academy {
    background: url(../assets/images/page/main/section/bottom-banner/bg_iua.jpg)
      no-repeat right;
    background-size: cover;
  }
  #bottomBannerSection > .incheon-youth-sports-agency {
    background: url(../assets/images/page/main/section/bottom-banner/bg_iysa.jpg)
      no-repeat left;
    background-size: cover;
  }
  #bottomBannerSection > article:nth-child(odd) {
    padding-left: 1.25rem;
  }
  #bottomBannerSection > article:nth-child(even) {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  #bottomBannerSection .section-title {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  #bottomBannerSection .btn-area {
    margin-top: 1.25rem;
    gap: 0.625rem;
  }
  #bottomBannerSection .btn-area a,
  #bottomBannerSection .btn-area button {
    font-size: 0.875rem;
    min-height: 2rem;
    padding: 0.5rem 1.25rem;
  }
}

@media screen and (max-width: 990px) {
  #iufcMediaSection .media-area {
    margin-top: 1.75rem;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.625rem;
  }
  #iufcMediaSection .media-area > li:nth-child(1) {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  #iufcMediaSection .media-area > li:nth-child(2) {
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }
  #iufcMediaSection .media-area > li:nth-child(3) {
    grid-column: 5 / 7;
    grid-row: 2 / 4;
  }
  #iufcMediaSection .media-area > li:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
  }
  #iufcMediaSection .media-area > li:nth-child(5) {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }
  #iufcMediaSection .media-area > li:nth-child(6) {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
  }
  #iufcMediaSection .media-area > li:nth-child(7) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  #iufcMediaSection .media-area > li:nth-child(8) {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }
  #iufcMediaSection .media-area > li:nth-child(9) {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
  }
  #iufcMediaSection .media-area > li:nth-child(10) {
    grid-column: 5 / 7;
    grid-row: 4 / 6;
  }
}

@media screen and (max-width: 768px) {
  #matchScheduleSection::after {
    aspect-ratio: 1/0.629;
  }
  #eventSection .box .event-list {
    flex-direction: column;
  }
  .bg-field::before {
    aspect-ratio: 1/0.497;
  }

  #iufcFeedsSection {
    padding: 0;
  }
  #iufcMediaSection .media-area {
    margin-top: 1.25rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.875rem;
  }
  #iufcMediaSection .media-area > li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  #iufcMediaSection .media-area > li:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  #iufcMediaSection .media-area > li:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #iufcMediaSection .media-area > li:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
  }
  #iufcMediaSection .media-area > li:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  #iufcMediaSection .media-area > li:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
  }
  #iufcMediaSection .media-area > li:nth-child(7) {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  #iufcMediaSection .media-area > li:nth-child(8) {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }
  #iufcMediaSection .media-area > li:nth-child(9) {
    grid-column: 2 / 3;
    grid-row: 7 / 9;
  }
  #iufcMediaSection .media-area > li:nth-child(10) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: 640px) {
  #matchScheduleSection .ranking-area .player-area > ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
