@charset "UTF-8";

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transform-origin: center top;
  transition: all 0.3s ease;
}
#header.active {
  transform: translateY(-3.125rem);
}

#header h1 {
  position: absolute;
  top: 0.625rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
}
#header h1 img {
  transform-origin: center;
  transition: all 0.3s ease;
}
#header.active h1 img {
  transform: scale(0.4) translateY(16%);
}

#header #topNav {
  background-color: #231916;
  color: #ffffff;
  height: 3.125rem;
}
#header #topNav a,
#header #topNav button {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header #topNav .center-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #topNav .sns-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.625rem;
}
#header #topNav .sns-nav a {
  border-radius: 100%;
  width: 2.125rem;
  height: 2.125rem;
  background-color: #e7eff8;
}
#header #topNav .sns-nav svg {
  color: var(--color-primary);
}

#header #topNav .util-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}

#header #gnb {
  background-color: rgba(17, 72, 173, 1);
  color: #ffffff;
  height: 4.375rem;
  transition: all 0.3s ease;
}
#header.active #gnb {
  background-color: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
#header #gnb .center-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header #gnb .depth-01 {
  height: 100%;
  display: flex;
  gap: 5rem;
  align-items: center;
}
#header #gnb .depth-01:first-child {
  justify-content: start;
}
#header #gnb .depth-01:last-child {
  justify-content: end;
}
#header #gnb .depth-01 > li {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
#header #gnb .depth-01 > li:hover .depth-02 {
  display: block;
}
#header #gnb .depth-01 a {
  font-weight: 600;
  font-size: 1.125rem;
  text-wrap: nowrap;
}
#header #gnb .depth-02 {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 0.313rem;
  padding: 0.625rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  display: none;
}
#header #gnb .depth-02 a {
  font-weight: 400;
  color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
  word-break: keep-all;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.313rem;
}
#header #gnb .depth-02 a.active,
#header #gnb .depth-02 a:hover {
  font-weight: 700;
  color: var(--color-primary);
}

#siteMap {
  position: relative;
  background-color: #ffffff;
  transform-origin: top center;
  transition: all 0.3s ease;
  height: 0;
  overflow: hidden;
}
#siteMap.active {
  height: auto;
}
#siteMap .depth-01 {
  display: flex;
}
#siteMap .depth-01 > li {
  flex: 1;
  padding: 2.5rem 0 2.5rem 1.875rem;
}
#siteMap .depth-01 > li + li {
  border-left: 1px solid #e4e4e4;
}
#siteMap .depth-01 > li > a {
  font-weight: 700;
  font-size: 1.375rem;
  color: var(--color-primary);
}
#siteMap .depth-02 > li {
  padding-top: 1.25rem;
}
#siteMap .depth-02 > li > a {
  font-weight: 500;
  font-size: 1.125rem;
  color: #111111;
}
#siteMap .depth-03 {
  background-color: #f2f5fa;
  border-top-left-radius: 0.313rem;
  border-bottom-left-radius: 0.313rem;
  padding: 1.25rem;
  margin-top: 0.313rem;
}
#siteMap .depth-03 > li + li {
  margin-top: 0.625rem;
}
#siteMap .depth-03 > li > a {
  font-weight: 400;
  font-size: 1rem;
  color: #111111;
}
#siteMap .depth-03 > li > a::before {
  content: '- ';
}
#siteMap .close-button {
  background-color: #2b3137;
  color: #ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  left: 50%;
  bottom: 1.875rem;
  margin-left: -1.875rem;
  transition: all 0.3s ease;
  transform-origin: center;
}
#siteMap .close-button:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
#siteMap .close-button:active {
  transform: scale(0.8);
}

@media screen and (max-width: 1400px) {
  #header #gnb .depth-01 {
    gap: 1rem;
    width: 40%;
  }
  #header #gnb .depth-01:first-child,
  #header #gnb .depth-01:last-child {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1024px) {
  #header.active {
    transform: translateY(-4rem);
  }

  #header h1 {
    width: 2.75rem;
  }

  #header #topNav {
    background-color: rgba(17, 72, 173, 1);
    height: 3.75rem;
  }
  #header #topNav .sns-nav {
    display: none;
  }
  #header #topNav .util-nav {
    width: 100%;
    justify-content: space-between;
  }
  #header #topNav .util-nav .ticket {
    display: none;
  }
  #header #topNav .util-nav .cart {
    display: none;
  }

  #header #gnb {
    display: none;
  }
}
