@charset "UTF-8";

/***********************  Side Menu CSS  ***************************/
#snb {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
#snb .quick-nav {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  overflow: hidden;
  width: 5rem;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
#snb .quick-nav li {
  width: 100%;
}
#snb .quick-nav li a {
  background-color: #ffffff;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 1/1;
  font-weight: 700;
  font-size: 0.75rem;
  transition: all 0.3s ease;
  transform-origin: center;
}
#snb .quick-nav li a:hover {
  filter: brightness(0.5);
}
#snb .quick-nav li a:active {
  transform: scale(0.9);
}

.scroll-top-button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.313rem;
  width: 3.125rem;
  height: 3.125rem;

  position: fixed;
  right: 3.75rem;
  bottom: 3.75rem;
  z-index: 9;

  transform-origin: center;
  transition: all 0.3s ease-in-out;
}
.scroll-top-button:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}
.scroll-top-button:active {
  transform: scale(0.9);
}

@media screen and (max-width: 1024px) {
  .scroll-top-button {
    right: 1.5rem;
    bottom: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #snb {
    position: relative;
    right: 0;
    top: -1.875rem;
    transform: translateY(0);
    padding: 0 1.25rem;
  }

  #snb .quick-nav {
    border-radius: 0.625rem;
    width: 100%;
    box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
    grid-template-columns: repeat(6, 1fr);
    gap: 1px;
    background-color: #cbdae9;
  }

  .scroll-top-button {
    right: 1rem;
    bottom: 1rem;
  }
}

@media screen and (max-width: 520px) {
  #snb .quick-nav {
    grid-template-columns: repeat(3, 1fr);
  }
}
